<div class="donut-chart-container">
    <div class="container">
      <!-- <div id="tooltip" class="toolTip"></div> -->
          <!-- <svg class="donut-chart" width="350" height="260" viewBox="0 -50 400 350" preserveAspectRatio="xMidYMid meet"></svg> -->
          <svg class="donut-chart"  attr.height.px="{{parentHeight}}" attr.width.px="{{parentWidth}}" viewBox="90 50 400 350" preserveAspectRatio="xMidYMid meet"></svg>
    </div>

    <!-- <div class="legend-container" *ngIf = "!type">
      <ng-container *ngFor="let item of data; let i = index">
        <div class="legend">
          <div class="legend-value" [ngStyle]="{'color': item.brandcolors}">
            {{item.value}}%
          </div>
          <div class="legend-label"  [ngStyle]="{'color': item.brandcolors}">{{item.name}}</div>
        </div>
      </ng-container>
    </div> -->

    </div>